<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/resposta" method="get">
        <p>Escreva um número para realizar a fórmula do quadrado</p>
        <input type="text" nome="num">
        <input type="submit" value="Enviar">
    </form>
</body>

</html>